@{
    ViewData["Title"] = "Home Page";
}
<body style="background-image: url('/images/background4.png')">
<div class="text-center" style="margin-top: 10%">
    <h1 class="display-4">Welcome</h1>
    <p>to our music shop</a>.</p>
</div>
</body>